.bounce-top {
	animation: bounce-top 2s infinite both;
}

@keyframes bounce-top {
	0% {
		transform: translateY(-45px);
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translateY(-24px);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(-12px);
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(150%);
	}
	to {
		transform: translateX(0);
	}
}
.nav-items-animation {
	animation: navItemsAnimation 0.6s both;
}
@keyframes slide {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}
@keyframes slide_l {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(100%);
	}
}
@keyframes img_move {
	0% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-30px);
	  }
	  100% {
		transform: translateY(0);
	  }
}
