@media (min-width: 992px) {
	.header {
		background-attachment: fixed;
		&__shadow {
			background-color: rgba(10, 4, 28, 0.89);
		}
		.header__text-bigScreen {
			font-size: 17px;
			margin-bottom: -2px;
			margin-left: 2px;
		}
		.header__name-bigScreen {
			font-size: 44px;
			margin-bottom: -4px;
		}
		.header__h1-bigScreen {
			font-size: 44px;
			width: 850px;
			font-weight: 500;
			.bold {
				font-weight: 600;
			}
		}
		.text-container .header-text {
			font-size: 18px;
			width: 830px;
			margin: 5px 0;
		}
		.header-box .text-container .header__btn {
			width: 156px;
			padding: 11px 0;
			font-size: 18px;
			margin-top: 12px;
		}
	}
	#aboutme,
	#portfolio,
	#reviews,
	#services {
		scroll-margin-top: 79px;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 80px;
		padding: 0px 35px;
		transition: background-color 0.6s;
		z-index: 1000;

		img {
			width: 75px;
			height: 50px;
			background-size: cover;
			margin-right: 70px;
			border-radius: 50%;
		}
		&_btn {
			background-color: $bright-blue;
			text-decoration: none;
			padding: 7px 30px;
			color: $pure-white;
			border-radius: 18px;
			font-size: 1.6rem;
			font-weight: 400;
			letter-spacing: 1.5px;
			transition: background-color 0.3s;
		}

		&__links {
			list-style: none;
			&-items {
				margin: 0;
				padding: 0;

				a {
					text-decoration: none;
					color: $pure-white;
					font-weight: 300;
					font-size: 2rem;
				}
				&-item {
					position: relative;
					display: inline-block;
					padding: 0px 25px;
				}
				a::before,
				a::after {
					content: "";
					position: absolute;
					width: 0;
					bottom: -35%;
					border-bottom: 2px solid white;
				}

				a::before {
					right: 47%;
				}

				a::after {
					left: 47%;
				}

				a:hover::before,
				a:hover::after {
					width: 40%;
				}
				a,
				a::after,
				a::before {
					transition: 0.33s;
				}
			}
		}
	}

	.nav {
		display: none;
	}
	.burger-btn {
		display: none;
	}

	.portfolio {
		background-color: #ececec;
		width: 100%;
		padding-bottom: 55px;
		.title__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: black;
			padding: 30px 0;
			text-align: center;
			&-parag {
				font-size: 1.7rem;
				font-weight: 200;
				margin: 0;
			}
			&-title {
				font-size: 4.2rem;
				font-weight: 500;
				position: relative;
				&::before {
					position: absolute;
					content: "";
					bottom: -20%;
					width: 60%;
					background-color: black;
					height: 1px;
					left: 20%;
				}
			}
		}
	}

	.am {
		padding-bottom: 45px;
		.title__box {
			color: white;
			padding-bottom: 60px;
			&-parag {
				font-size: 1.7rem;
				font-weight: 200;
				margin: 0;
				margin-bottom: -5px;
			}
			&-title {
				font-size: 4.2rem;
				font-weight: 500;

				&::before {
					height: 1px;
				}
			}
		}

		.aboutMe {
			.line {
				width: 0;
			}
			.lineSolid {
				width: 500px;
				margin-bottom: 70px;
				height: 0.5px;
				background-color: #dadada;
				margin-top: 10px;
				display: none;
			}
			&-content {
				width: 900px;
				flex-direction: row;
				align-items: center;
				position: relative;
				justify-content: center;
				margin-bottom: 60px;
				margin-left: 20px;
				.line2 {
					width: 2px;
					height: 210px;
					background-color: white;
					margin-right: 80px;
					position: relative;
					&::before {
						position: absolute;
						content: "";
						height: 18px;
						width: 18px;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: -8px;
						background-color: white;
					}
				}

				&-box-text {
					font-size: 16px;
					width: 380px;
					margin: 0;
				}
				.one {
					margin-bottom: 20px;
				}
				&-title {
					width: 350px;

					font-size: 28px;
					text-align: center;
					margin-right: 60px;
					margin-bottom: 40px;
					margin-left: 40px;
				}
			}

			&-desc {
				flex-direction: row;
				position: relative;
				margin-bottom: 46px;
				margin-left: 50px;

				&-box {
					position: relative;
					width: 720px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;

					&-desc {
						font-size: 21px;
						line-height: 27px;
						width: 420px;
						margin-top: 45px;
						margin-right: 13px;
					}
				}
				img {
					width: 215px;
					height: 215px;
					margin-left: 10px;
				}
				&-desc {
					position: absolute;
					bottom: 20px;
					right: 13px;
					font-size: 15px;
					font-weight: 200;
					text-align: left;
					width: 420px;
				}
			}
		}
	}
	.s-contact {
		.contact-container {
			.contact-left {
				gap: 30px;
				width: 500px;
				max-width: none;
				&-text {
					&-title {
						font-size: 30px;
					}
					&-desc {
						font-weight: 200;
						font-size: 17px;
						margin-bottom: -15px;
						span {
							font-weight: 500;
							color: rgb(255, 255, 255);
							letter-spacing: 2px;
						}
					}
					hr {
						width: 65px;
						height: 5px;
					}
				}

				button {
					padding: 13px 40px;
					font-size: 19px;

					font-weight: 500;
				}
			}
		}
	}

	.reviews {
		.title__box {
			&-parag {
				font-size: 1.7rem;
				font-weight: 300;
			}
			&-title {
				font-size: 4.2rem;
			}
		}
		.reviews__slide {
			&-box {
				margin-right: 45px;
				width: 400px;
				height: 290px;
				padding: 30px;

				&-name {
					font-size: 2.6rem;
					font-weight: 600;
				}
				&-prof {
					font-size: 1.6rem;
				}
				&-desc {
					font-size: 1.8rem;
					margin-top: 11px;
				}
				&-info {
					margin-top: 32px;
					font-size: 1.3rem;
					bottom: 24px;
					img {
						scale: 0.9;
						margin-left: 105px;
					}
					.date {
						margin: 0;
						margin-right: 37px;
						margin-top: 2px;
						font-size: 1.6rem;
					}
				}
			}
		}
	}
	.footer {
		padding: 15px 110px 15px;
	}
	.workflow .title__box-title {
		font-size: 42px;
	}
	.services .title__box-title {
		font-size: 42px;
	}
	.contact .title__box-title {
		font-size: 42px;
	}
	.contact .title__box-parag {
		font-size: 17px;
	}
	.portfolio .title__box,
	.workflow .title__box,
	.services .title__box,
	.reviews .title__box,
	.contact .title__box,
	.am .title__box {
		padding-top: 40px;
	}
	.portfolio .title__box .title__box-title,
	.workflow .title__box-title,
	.services .title__box-title,
	.reviews .title__box-title,
	.contact .title__box-title {
		font-size: 52px;
	}
	.reviews .title__box {
		padding-bottom: 80px;
	}
}

@media (min-width: 1111px) {
	.services {
		padding-bottom: 160px;

		.title__box {
			margin-bottom: 50px;
		}
		.container {
			flex-direction: row;
			justify-content: center;
			row-gap: 0;
			margin-top: 0;
			.serviceBox {
				margin: 0 20px;
			}
			.serviceBox__bgc2 {
				top: -13px;
				left: 187px;
			}
			.serviceBox__bgc3 {
				top: -13px;
				left: 882px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.navbar {
		padding: 0px 80px;

		&_btn {
			padding: 8px 35px;
			color: $pure-white;
			border-radius: 18px;
			font-size: 1.9rem;
			font-weight: 500;
			letter-spacing: 1.5px;
			transition: scale 0.3s;
			&:hover {
				scale: 1.1;
			}
		}

		&__links {
			&-items {
				a {
					font-size: 2.2rem;
				}
				&-item {
					padding: 0px 35px;
				}
			}
		}
	}
	.header {
		.text-container {
			margin-left: 70px;
		}
	}

	.am {
		padding-bottom: 70px;
		.aboutMe {
			.lineSolid {
				width: 500px;
				margin-bottom: 70px;
				height: 0.5px;
				margin-top: 10px;
			}
			&-action {
				margin-top: 20px;
				&-text {
					font-size: 29px;
					width: 590px;
					margin-bottom: 25px;
				}
				&-btns {
					column-gap: 60px;
					.btn1 {
						padding: 7px 52px;
						font-size: 22px;
						border-radius: 20px;
					}
					.btn2 {
						padding: 7px 49px;
						font-size: 22px;
						border-radius: 20px;
					}
				}
			}
			&-content {
				width: 1100px;
				margin-bottom: 60px;
				margin-left: 90px;
				.line2 {
					width: 2px;
					height: 250px;
					background-color: white;
					margin-right: 121px;
					position: relative;
					&::before {
						position: absolute;
						content: "";
						height: 18px;
						width: 18px;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: -8px;
						background-color: white;
					}
				}

				&-box-text {
					font-size: 17px;
					width: 440px;
					margin: 0;
					font-weight: 300;
				}
				.one {
					margin-bottom: 25px;
					.bold-text {
						font-weight: 600;
					}
				}
				&-title {
					width: 350px;
					font-size: 30px;
					text-align: center;
					margin-right: 80px;
					margin-bottom: 40px;
					margin-left: 40px;
				}
			}

			&-desc {
				flex-direction: row;
				position: relative;
				margin-bottom: 50px;

				&-box {
					position: relative;
					width: 750px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;

					&-desc {
						font-size: 24px;
						line-height: 27px;
						width: 450px;
						margin-top: 42px;
						font-weight: 500;
					}
				}
				img {
					width: 220px;
					height: 220px;
				}
				&-desc {
					position: absolute;
					bottom: 20px;
					font-size: 16px;
					font-weight: 300;
					text-align: left;
					width: 450px;
				}
			}
		}
	}

	.portfolio {
		background-color: #ececec;
		width: 100%;
		padding-bottom: 75px;
		.title__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: black;
			text-align: center;
			&-parag {
				font-size: 1.8rem;
				font-weight: 200;
				margin: 0;
				margin-bottom: -5px;
			}
			&-title {
				font-size: 4.3rem;
				font-weight: 500;
				position: relative;
				letter-spacing: 1px;
				&::before {
					position: absolute;
					content: "";
					bottom: -17%;
					width: 60%;
					background-color: black;
					height: 1px;
					left: 20%;
				}
			}
		}
		.container {
			display: flex;
			flex-direction: row;
			margin: 0 auto;
			justify-content: center;
			column-gap: 100px;
			.col2 {
				padding-top: 130px;
			}
			.col1,
			.col2 {
				display: flex;
				flex-direction: column;
				width: 430px;
				row-gap: 50px;
				.portfolio__box {
					margin-top: 45px;
					width: 430px;
					padding-top: 0px;
					&-img {
						width: 430px;
					}
					&-title {
						font-size: 3.1rem;
						margin-left: 8px;
						font-weight: 600;
						margin-top: 5px;
					}
					&-text {
						font-size: 1.6rem;
						color: #242424;
						margin-left: 9px;
						width: 420px;
						margin-bottom: 17px;
						margin-left: 12px;
					}
					&-btn {
						font-size: 1.6rem;
						width: 165px;
						padding: 12px 13px;
						border-radius: 5px;
					}
					&-line {
						display: none;
					}
				}
			}
		}
	}

	.workflow {
		padding: 0 5px 160px 13px;
		.title__box {
			margin-bottom: 40px;
			&-parag {
				font-size: 1.7rem;
				font-weight: 300;
			}
			&-title {
				font-size: 4.8rem;
				font-weight: 500;
				position: relative;
			}
		}
		&_container {
			position: relative;
			width: 405px;
			display: flex;
			justify-content: center;
			.img_box {
				position: relative;
				.circle {
					height: 70px;
					width: 70px;
					font-size: 2.8rem;
				}
				.line {
					height: 100px;
					width: 3px;
				}
				.line_1,
				.circle_1,
				.line_2,
				.circle_2,
				.line_3,
				.circle_3,
				.line_4,
				.circle_4 {
					position: absolute;
					background-color: #181b61;
				}
				.line_1,
				.line_2,
				.line_3,
				.line_4 {
					width: 200px;
					height: 2px;
				}
				.line_1 {
					top: 5.2%;
					left: -410%;
				}
				.line_3 {
					left: -410%;
					top: 64.3%;
				}
				.line_2 {
					left: 110%;
					top: 34.5%;
				}
				.line_4 {
					left: 110%;
					top: 94%;
				}
				.circle_1,
				.circle_2,
				.circle_3,
				.circle_4 {
					width: 22px;
					height: 22px;
					border-radius: 50%;
				}
				.circle_1 {
					top: 4%;
					left: -425%;
				}
				.circle_3 {
					left: -425%;
					top: 63.1%;
				}
				.circle_2 {
					left: 490%;
					top: 33%;
				}
				.circle_4 {
					left: 490%;
					top: 92.5%;
				}
			}
			.text_box {
				position: absolute;
				color: black;
				left: -90%;
				top: 12%;
				&:nth-child(2) {
					top: 38.65%;
					left: 113%;
					text-wrap: nowrap;
				}
				&:nth-child(3) {
					top: 65.2%;
					left: -90%;
				}
				&:nth-child(4) {
					top: 92%;
					left: 113%;
					text-wrap: nowrap;
				}
				&-title {
					font-size: 2.9rem;
					font-weight: 500;
				}

				&-item {
					font-size: 1.7rem;
					margin-left: 19px;
					&:before {
						color: #181b61;
						font-size: 2.4em;
						margin-left: -25px;
						top: -18px;
						left: 1px;
					}
				}
			}
		}
	}

	.am .title__box-title {
		font-size: 48px;
	}
	.s-contact {
		height: 700px;
		overflow: hidden;
		position: relative;

		.background-image {
			position: absolute;
			top: 0;
			left: 53%;
			height: 100%;
			width: 1150px;
			display: inline-block;
			z-index: 1;
			object-fit: cover;
		}
		.background3 {
			position: absolute;
			height: 100%;
			bottom: 0px;
			width: 78%;
			left: 0;
			z-index: 3;
			display: inline-block;
		}
		.background2 {
			position: absolute;
			display: inline-block;
			bottom: 0;
			left: 0;
			height: 880px;
			width: 76%;
			z-index: 4;
		}
		.background1 {
			position: absolute;
			display: inline-block;
			top: 0;
			left: 0;
			height: 790px;
			width: 70%;
			z-index: 5;
		}
		.shadow-img {
			position: absolute;
			top: 0;
			left: 52%;
			width: 1000px;
			height: 100%;
			display: inline-block;
			z-index: 2;
			background-color: #0a041cde;
		}
		.contact-container {
			padding-bottom: 50px;
			justify-content: flex-start;
			margin-top: 70px;
			margin-left: 13%;
			width: 450px;
			max-width: none;
			.contact-left {
				gap: 30px;
				width: 450px;
				max-width: none;
				.contact-inputs {
					font-size: 17px;
					color: black;
					&:focus {
						border: 3px solid $bright-blue;
					}
					&::placeholder {
						color: rgb(141, 141, 141);
						font-size: 16px;
					}
				}
				.textarea {
					height: 140px;
					padding-top: 15px;
					border-radius: 20px;
					width: 100%;
					max-width: 150%;
					max-height: 208px;
					align-self: flex-start;
				}
				&-text {
					&-title {
						font-size: 48px;
					}
					&-desc {
						font-weight: 200;
						font-size: 17px;
						margin-bottom: -15px;
						span {
							font-weight: 500;
							color: rgb(255, 255, 255);
							letter-spacing: 2px;
						}
					}
					hr {
						width: 90px;
						height: 5px;
					}
				}

				button {
					padding: 13px 40px;
					font-size: 19px;
					font-weight: 500;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.header {
		.header__shadow {
			background-color: rgba(10, 4, 28, 0.92);
		}
		.header__h1-bigScreen .bold {
			font-size: 52px;
		}
		.header__text-bigScreen {
			margin-bottom: -4px;
		}
		.header-box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 1370px;
			width: 90%;
			align-items: center;
			margin: 0 auto;
			img {
				display: inline;
				width: 290px;
				height: 290px;
				border-radius: 90px;
				margin-right: 30px;
				animation: img_move 10s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
				margin-bottom: 50px;
			}
			.text-container .header-text {
				font-size: 20px;
				width: 845px;
				line-height: 23px;
			}
			.text-container {
				margin-left: 0;
			}
			.header__name-bigScreen {
				font-size: 50px;
				margin-bottom: -7px;
			}
			.header__h1-bigScreen {
				font-size: 50px;
				width: auto;
			}
			.text-container .header__btn {
				width: 172px;
				font-size: 20px;
				font-weight: 600;
				padding: 11px 0;
				border-radius: 19px;
			}
		}
	}
	.portfolio {
		.container {
			column-gap: 150px;
			margin-top: 20px;
			.col2 {
				padding-top: 130px;
			}
			.col1,
			.col2 {
				display: flex;
				flex-direction: column;
				width: 475px;
				row-gap: 75px;
				.portfolio__box {
					margin-top: 45px;
					width: 475px;
					padding-top: 0px;
					&-img {
						width: 475px;
					}
					&-title {
						font-size: 3.1rem;
						margin-left: 8px;
						font-weight: 600;
						margin-top: 5px;
					}
					&-text {
						font-size: 1.7rem;
						color: #242424;
						margin-left: 9px;
						width: 460px;
						margin-bottom: 20px;
						margin-left: 12px;
						line-height: 27px;
					}
					&-btn {
						font-size: 1.7rem;
						width: 170px;
						padding: 12px 16px;
						border-radius: 5px;
					}
					&-line {
						display: none;
					}
				}
			}
		}
	}

	.am {
		padding-bottom: 70px;
		.title__box {
			color: white;
			padding-top: 45px;
			padding-bottom: 60px;
			&-parag {
				font-size: 1.7rem;
				font-weight: 200;
				margin: 0;
				margin-bottom: -5px;
			}
		}
		.aboutMe {
			.lineSolid {
				width: 400px;
				margin-bottom: 40px;
				height: 0.5px;
				margin-top: 10px;
			}
			&-action {
				margin-top: 30px;
				&-text {
					font-size: 27px;
					width: 590px;
					margin-bottom: 20px;
				}
				&-btns {
					column-gap: 80px;
					.btn1 {
						padding: 7px 57px;
						font-size: 23px;
						border-radius: 18px;
					}
					.btn2 {
						padding: 7px 52px;
						font-size: 23px;
						border-radius: 18px;
					}
				}
			}
			&-content {
				width: 1300px;
				margin-bottom: 35px;
				margin-left: 90px;
				.line2 {
					width: 2px;
					height: 210px;
					background-color: white;
					margin-right: 141px;
					position: relative;
					&::before {
						position: absolute;
						content: "";
						height: 18px;
						width: 18px;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: -8px;
						background-color: white;
					}
				}
				&-box-one {
					margin-bottom: 40px;
				}

				&-box-text {
					font-size: 17px;
					width: 440px;
					margin: 0;
					font-weight: 300;
					.bold-text {
						font-weight: 600;
					}
				}
				.one {
					margin-bottom: 15px;
				}
				&-title {
					width: 350px;
					font-size: 32px;
					text-align: center;
					margin-right: 104px;
					margin-bottom: 40px;
					margin-left: 40px;
				}
				.special {
					margin-top: 40px;
				}
			}

			&-desc {
				flex-direction: row;
				position: relative;
				margin-top: 35px;
				margin-left: 100px;
				&-box {
					position: relative;
					width: 825px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;

					&-desc {
						font-size: 27px;
						line-height: 27px;
						width: 500px;
						margin-top: 55px;

						.bold-text {
							font-weight: 600;
						}
					}
				}
				img {
					width: 240px;
					height: 240px;
				}
				&-desc {
					position: absolute;
					bottom: 25px;
					font-size: 17px;
					font-weight: 300;
					text-align: left;
					width: 500px;
				}
			}
		}
	}
	.footer {
		padding: 13px 200px 13px;
	}
	.services .container .serviceBox {
		margin: 0 55px;
	}
	
	.workflow {
		padding: 0 5px 160px 13px;
		.title__box {
			margin-bottom: 40px;
			&-parag {
				font-size: 1.8rem;
				font-weight: 300;
			}
		}
		&_container {
			.img_box {
				.line_1 {
					top: 5.2%;
					left: -410%;
				}
				.line_3 {
					left: -410%;
					top: 64.3%;
				}
				.line_2 {
					left: 110%;
					top: 34.5%;
				}
				.line_4 {
					left: 110%;
					top: 94%;
				}
			}
			.text_box {
				position: absolute;
				color: black;
				left: -95%;
				top: 12%;
				&:nth-child(2) {
					top: 38.65%;
					left: 113%;
				}
				&:nth-child(3) {
					top: 65.2%;
					left: -95%;
				}
				&:nth-child(4) {
					top: 92%;
					left: 113%;
				}
				&-title {
					font-size: 3.2rem;
				}

				&-item {
					font-size: 1.8rem;
					margin-top: 11px;
				}
			}
		}
	}
}
