@media (min-width: 567px) {
	.header-box {
		margin-left: 12%;
	}
}
@media (min-width: 768px) {
	.header {
		color: #F7F5FF;
		.arrow-btn {
			padding: 25px;
			i {
				font-size: 37px;
			}
		}
		.header-box {
			margin-left: 9%;
		}
		.header__text-bigScreen,
		.header__name-bigScreen,
		.header__h1-bigScreen,
		.header-box .text-container .header-text-bigScreen{
			display: inline-block;
		}
		.header__heading-sm{
			display: none;
		}
		.header__text-bigScreen {
			font-weight: 200;
			font-size: 15px;
		}
		.header__name-bigScreen {
			font-size: 40px;
			font-weight: 500;
		}
		.header__h1-bigScreen{
			font-size: 36px;
		}
		.text-container .header-text {
			max-width: none;
			width: 700px;
		}
		.text-container {
			margin-left: 0;
		}
	}

	.burger-btn {
		top: 17px;
		right: 17px;
		padding: 1.4em;

		&__box {
			position: relative;
			width: 50px;
			height: 40px;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			position: absolute;
			right: 0;
			height: 3px;
			content: "";
			background-color: $pure-white;
			transition: width 0.3s;
			border-radius: 3px;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 17px;
				width: 60%;
			}

			&::before {
				top: 34px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
	.am {
		.aboutMe {
			.line {
				width: 170px;
			}
			&-action{
				&-text {
					font-size: 24px;
				}
				&-btns {
					column-gap: 50px;
					.btn1 {
						padding: 6px 45px;
						font-size: 21px;
						border-radius: 17px;

					}
					.btn2 {
						padding: 5px 38.5px;
						font-size: 22px;
						border-radius: 17px;
					}
				}
			}
			&-content {
				width: 550px;
				&-box-text {
					font-size: 16px;
					margin-top: 20px;
					.bold-text {
						font-weight: 500;
					}
					
				}
				.one {
					margin-top: 5px;
				}
			}
			&-desc {
				flex-direction: row;
				position: relative;
				margin-bottom: 50px;

				
				&-box {
					position: relative;
				    width: 600px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: start;
					
					&-desc {
						font-size: 21px;
						line-height: 27px;
						width: 350px;
						margin-top: 5px;
						
					}
				
				}
				img {
					width: 210px;
					height: 210px;
				}
				&-desc {
					position: absolute;
					bottom: -35px;
					right: 5px;
					font-size: 16px;
					font-weight: 200;
					text-align: left;
					width: 345px;
				}
			}
		}
	}
	
	.container {
		.portfolio__box {
			margin-top: 45px;
			width: 450px;
			padding-top: 0px;
			&-img {
				width: 450px;
			}
			&-title {
				font-size: 3.2rem;
				margin-left: 8px;
				font-weight: 600;
				margin-top: 5px;
			}
			&-text {
				font-size: 1.7rem;
				color: #111111;
				margin-left: 12px;
				width: 420px;
				margin-bottom: 17px;
			}
			&-btn {
				font-size: 1.7rem;
				background-color: $dark-blue;
				color: $pure-white;
				border: none;
				display: inline;
				width: 180px;
				margin: 0 auto;
				padding: 12px 13px;
				border-radius: 5px;
			}
			&-line {
				height: 0.2px;
				width: 80%;
				background-color: rgb(92, 92, 92);
				margin: 0 auto;
				margin-top: 45px;
			}
		}
	}
	.workflow {
		padding: 0 5px 100px 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.title__box {
			&-parag {
				font-size: 1.7rem;
				font-weight: 300;
			}
			&-title {
				font-size: 3.5rem;
				font-weight: 500;
				position: relative;
			}
		}
		&_container {
			position: relative;
			width: 405px;
			.img_box {
				width: 50px;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: space-between;
				align-items: center;
				margin-top: 60px;
				.circle {
					height: 60px;
					width: 60px;
					font-size: 2.5rem;
				}
				.line {
					height: 100px;
					width: 2.5px;
				}
			}
			.text_box {
				position: absolute;
				color: black;
				top: 13%;
				left: 19%;
				&:nth-child(2) {
					top: 39.5%;
				}
				&:nth-child(3) {
					top: 66.3%;
				}
				&:nth-child(4) {
					top: 93.4%;
				}
				&-title {
					font-size: 2.3rem;
				}

				&-item {
					font-size: 1.6rem;
				}
			}
		}
	}
	.services .container .serviceBox {
		width: 340px;
		height: 225px;
	}
	.services .container .serviceBox__items .serviceBox__item {
		font-size: 17px;
	}
	.services .container .serviceBox__items {
		row-gap: 9px;
		margin-left: 1px;
	}
	.services .container .serviceBox__title-text {
		font-size: 25px;
	}
	.services .container .serviceBox__title {
		margin-bottom: 22px;
	}
	.footer {
		padding: 14px 85px 14px ;
	}
}
