@media (min-width: 373px) {
	.header-box .text-container .header__heading-sm {
		font-size: 29px;
	}
	.header-box .text-container .header-text {
		width: 350px;
		font-size: 15px;
	}
	.workflow_container {
		width: 355px;
	}
	.am .aboutMe {
		&-action {
			display: flex;
			flex-direction: column;
			text-align: center;
			&-btns {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				text-align: center;
				column-gap: 25px;
				margin-top: 10px;
				.btn1 {
					padding: 7px 36px;
					border-radius: 15px;
					font-size: 17px;
					font-weight: 500;
					background-color: $bright-blue;
					border: none;
					color: white;
					text-decoration: none;
				}
				.btn2 {
					padding: 6px 32px;
					border-radius: 15px;
					font-size: 17px;
					font-weight: 500;
					background-color: transparent;
					border: 1px $bright-blue solid;
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}
@media (min-width: 400px) {
	.header-box {
		margin-left: 10%;
	}
	.am .aboutMe-desc-desc {
		width: auto;
	}
	.am .aboutMe-desc-box-desc-phone {
		width: 223px;
	}
	.am .aboutMe-desc-box img {
		width: 99px;
		height: 99px;
	}
}
@media (min-width: 448px) {
	.am .aboutMe-action-btns {
		column-gap: 25px;
	}
	.header-box {
		margin-left: 3%;
	}
	.header {
		.text-container {
			margin-left: 0px;
			.header-text {
				width: auto;
				min-width: 420px;
				max-width: 545px;
				margin: 3px 0px;
				font-size: 17px;
			}
			.header__heading-sm {
				font-size: 33px;
				width: 440px;
				line-height: 32px;
				&-bold {
					font-size: 33px;
				}
			}
		}
	}
	.am .aboutMe-desc-box {
		width: 100%;
		justify-content: center;
	}
	.am .aboutMe-desc-box img {
		width: 110px;
		height: 110px;
	}
	.am .aboutMe-desc-box-desc-phone {
		font-size: 19px;
		width: 280px;
		margin-left: 30px;
	}
}
@media (min-width: 470px) {
	.header-box {
		margin-left: 6%;
	}
	.am {
		padding-bottom: 45px;
		.title__box {
			color: white;
			padding-top: 30px;
			padding-bottom: 60px;
			&-parag {
				font-size: 1.6rem;
				font-weight: 200;
				margin: 0;
				margin-bottom: -5px;
			}
			&-title {
				font-size: 3.7rem;
				font-weight: 500;

				&::before {
					height: 1px;
				}
			}
		}
		.btn1 {
			margin-right: 10px;
		}
		.btn2 {
			margin-left: 10px;
		}
		.aboutMe-desc-desc {
			width: 403px;
		}
		.aboutMe-desc-box-desc {
			width: 295px;
			font-size: 20px;
		}
		.aboutMe-content {
			width: 443px;
		}
	}
	.portfolio .title__box .title__box-title,
	.workflow .title__box-title,
	.services .title__box-title,
	.reviews .title__box-title,
	.contact .title__box-title {
		font-size: 37px;
	}
	.services .container .serviceBox {
		background-color: white;
	}
	.container .portfolio__box {
		width: 340px;
	}
	.container .portfolio__box-img {
		width: 340px;
	}
	.container .portfolio__box-text {
		font-size: 15px;
		width: 320px;
	}
	.am .aboutMe-action-btns {
		display: none;
	}
	.am .aboutMe-action-btns .btn1 {
		padding: 10px 45px;
	}
}
@media (min-width: 567px) {
	.header-box {
		margin-left: 8%;
	}
	.container {
		.title__box-title {
			font-size: 35px;
		}
		.portfolio__box {
			margin-top: 45px;
			width: 370px;
			padding-top: 0px;
			&-img {
				width: 370px;
			}
			&-title {
				font-size: 2.7rem;
				margin-left: 8px;
				font-weight: 600;
				margin-top: 5px;
			}
			&-text {
				font-size: 1.6rem;
				color: #242424;
				margin-left: 11px;
				width: 360px;
				margin-bottom: 18px;
			}
			&-btn {
				font-size: 1.6rem;
				background-color: $dark-blue;
				color: $pure-white;
				border: none;
				display: inline;
				width: 160px;
				margin: 0 auto;
				padding: 11px 12px;
				border-radius: 4px;
			}
			&-line {
				height: 0.2px;
				width: 80%;
				background-color: rgb(92, 92, 92);
				margin: 0 auto;
				margin-top: 45px;
			}
		}
	}
	.workflow {
		width: 100%;
		padding: 0 5px 100px 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.title__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: black;
			padding-top: 30px;
			&-parag {
				font-size: 1.6rem;
				font-weight: 200;
				margin: 0;
			}
			&-title {
				font-size: 3.1rem;
				font-weight: 500;
				position: relative;
				&::before {
					position: absolute;
					content: "";
					bottom: -18%;
					width: 60%;
					background-color: black;
					height: 1px;
					left: 20%;
				}
			}
		}
		&_container {
			position: relative;
			width: 354px;
			.img_box {
				width: 50px;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: space-between;
				align-items: center;
				margin-top: 60px;
				.circle {
					height: 50px;
					width: 50px;
					border-radius: 50%;
					background-color: #181b61;
					color: white;
					font-size: 22px;
					font-family: "Inter", sans-serif;
					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
					font-weight: 500;
					z-index: 5;
				}
				.line {
					height: 100px;
					width: 1.5px;
					background-color: #181b61;
				}
			}
			.text_box {
				text-wrap: nowrap;
				margin-left: 7px;
				top: 12.8%;
				left: 17%;
				&:nth-child(2) {
					top: 39.7%;
				}
				&:nth-child(3) {
					top: 66.3%;
				}
				&:nth-child(4) {
					top: 93.25%;
				}
				&-title {
					font-size: 2.25rem;
					margin-bottom: 9px;
				}
				ul {
					list-style-type: none;
				}
				&-item {
					font-size: 1.55rem;
					position: relative;
					margin-bottom: 7px;
					margin-left: 15px;
					&:before {
						color: #181b61;
						font-size: 2.45em;
						margin-left: -21px;
						top: -18px;
						left: 1px;
					}
				}
			}
		}
	}
	.am .title__box-title,
	.portfolio .title__box .title__box-title,
	.workflow .title__box-title,
	.services .title__box-title,
	.reviews .title__box-title,
	.contact .title__box-title {
		font-size: 39px;
	}
}
